.App {
  margin: 0px auto;
  height: auto;
  background-color: #BFD1E5;
}

.navbar {
  background-color: #542344;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#title {
  font-weight: bold;
  font-family: cursive, 'lucida console';
  font-size: 3rem;
}
#homeLink {
  margin-left: 100px;
  color: white;
  text-decoration: none;
  background-color: rgb(231, 243, 244);
  border-radius: 5px;
  padding: 3px;
}

.page{
  height: 1000px;
}

.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashHeader{
  font-family: monospace, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-shadow: 2px 2px 8px #2268b2;
}
.displayContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #D8BFAA;
}
.displayHeader {
  display: flex;
  flex: row;
  justify-content: space-between;
}

#button {
  margin-top: 10 px;
  background-color: #EBF5EE;
  border-radius: 45px;
  box-shadow: 3px 3px rgb(186, 179, 179);
}